/event-o/nbproject/private/
/test-fx/event-fxml/nbproject/private/
/event-o/dist/
/event-o/build/
/event-swing/nbproject/private/
/event-swing/build/
/event-swing/dist/
/test-fx/event-fxml/dist/
/test-fx/event-fxml/build/